# Android Studio
local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.gradle/
*.iml
build/
*/build/
captures/
.externalNativeBuild
.cxx
.DS_Store


# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# Cache
*.cache
*.db
*.db-shm
*.db-wal

# NuGet
project.assets.json
project.nuget.cache

